.roomPrice {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: relative;

    .search {
        background-color: #fff;
        padding: 10px;

        .leftItem {
            display: inline-block;
            float: left;
            margin-right: 15px;
        }

        .rightItem {
            display: inline-block;
            float: right;
            margin-left: 15px;
        }
    }

    .body {
        position: absolute;
        background-color: #fff;
        left: 0;
        right: 0;
        bottom: 0;
        top: 60px;
        padding: 10px;
    }

    .typeShow {
        border: 1px solid lightgray;
        font-weight: bold;
        border-radius: 4px;
        min-width: 100px;
        background-color: whitesmoke;
        line-height: 30px;
        text-align: center;
    }

    .clear {
        display: block;
        clear: both;
    }
}