.business {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;

    .left {
        height: 100%;
        background-color: white;
        padding: 0 10px 0 10px;
        width: 100px;
        box-shadow: 0 0 5px lightgray;
        border-radius: 5px;
    };

    .content {
        height: 100%;
        padding: 0 0 0 10px;
    }
}