.login-form {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    .item {
        flex-grow: 0;
    }

    .title {
        text-shadow:rgb(72, 74, 206) 0 0 10px;
        color:white;
        font-size: 30px
    }

    .box-1 {
        box-shadow: 0 0 5px lightgray;
    }
}